/**
 * @license
 * MyFonts Webfont Build ID 3485613, 2017-11-17T11:49:05-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Maxima-Med by URW++
 * URL: https://www.myfonts.com/fonts/urw/maxima/t-medium/
 * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 * Licensed pageviews: 10,000
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3485613
 *
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/352fad");

@font-face {
  font-family: 'Maxima-Med';
  src: url('../webfonts/352FAD_0_0.eot');
  src: url('../webfonts/352FAD_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/352FAD_0_0.woff2') format('woff2'),url('../webfonts/352FAD_0_0.woff') format('woff'),url('../webfonts/352FAD_0_0.ttf') format('truetype');
  font-display: swap;
}
