html {
  font-size: 24px;
  overflow-x: hidden;
}

body {
  font-family: 'Arial';
  background: url('images/met-bg.jpg') no-repeat center center / cover;
}

h1, h2 {
  font-family: 'Comic Sans', 'Chalkboard', serif;
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}

a {
  color: blue;
}

.header {
  width: calc(100% - 2rem);
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 9999;
}










.project {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  overflow: hidden;
}

.project-slides {
  position: absolute;
  transition: transform 1s;
  will-change: transform;
}

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  float: left;
  border: 1px solid blue;
}

.slide--cover {
  background: yellow;
}

.cover-info  {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}