$easing = cubic-bezier(0.645, 0.045, 0.355, 1);
$textshadow = 0 2px 8px rgba(0, 0, 0, 0.8);

:root {
  --cursor: default;
}

* {
  outline: none;
}

html {
  font-size: 20px;
  overflow-x: hidden;

  @media (max-width: 670px) {
    font-size: 16px;
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Maxima-Med', 'Arial', sans-serif;
  font-weight: normal;
  line-height: 1.45;
  letter-spacing: 0.02em;
  cursor: var(--cursor);
  -webkit-font-smoothing: antialiased;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #111;
    animation: fadeOut 0.5s 0.25s forwards;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

main {
  .is-about & {
    filter: blur(40px);
  }
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

p {
  a {
    text-decoration: underline;
  }
}

.header {
  width: calc(100% - 2rem);
  position: fixed;
  left: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  color: #ffffff;
  backface-visibility: hidden;
  transition: color 0.15s $easing;

  .is-project & {
    color: #000000;
  }

  .is-about & {
    color: #000000 !important;
    transition: none;
  }
}

.header-title {
  position: relative;
  text-shadow: $textshadow;
  transition: text-shadow 0.25s 0.5s;

  .is-project &,
  .is-about & {
    text-shadow: none;
    transition: text-shadow 0.25s 0s;
  }
}

.header-toggle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.header-nav {
  color: transparent;
  -webkit-text-stroke: 0.75px #fff;

  .is-about &,
  .is-project & {
    -webkit-text-stroke: 0.75px #000;
  }
}

// main {
//   width: calc(100vw + 20px);
//   height: 100vh;
//   padding-right: 20px;
//   position: fixed;
//   overflow-y: auto;
//   overflow-x: hidden;
// }



.information {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  padding-top: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(white, 0.3);
  opacity: 0;
  visibility: hidden;
  cursor: initial;
  overflow: auto;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }

  .is-about & {
    opacity: 1;
    visibility: visible;
  }
}

.information__sections {
  @media (min-width: 1024px) {
    width: 50%;
  }
}

.information__contact {
  margin-bottom: 60px;

  @media (min-width: 1024px) {
    position: fixed;
    top: 4rem;
    left: 1rem;
  }
}

.information__sections {
  @media (min-width: 1024px) {
    margin-left: auto;
  }
}

.information__section {
  margin-bottom: 60px;
}







.project {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.project-slides {
  position: absolute;
  transition: transform 1s $easing;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  float: left;
  display: flex;
}

.slide-content {
  margin: auto;

  p {
    width: 60vw;
    height: auto;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.2px;

    @media (orientation: portrait) and (max-width: 768px) {
      width: calc(100% - 2rem);
      margin: auto;
      font-size: 1rem;
    }
  }

  p + p {
    margin-top: 1rem;
  }

  img {
    width: auto;
    height: 75vh;
    transform: translate3d(0, 0, 0);
  }
}

.slide-content__header {
  margin-bottom: 1rem;

  @media (orientation: portrait) and (max-width: 768px) {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: @margin-left;
  }
}

.slide-content__copy {
  &.is-small p {
    font-size: 1rem;
  }
}

.slide--cover {
  background: rgba(red, 0.2);
  cursor: e-resize;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    // .is-about & {
    //   filter: blur(50px);
    // }
  }

  .is-about & {
    overflow: hidden;
  }
}

.slide {
  @media (orientation: portrait) and (max-width: 768px) {
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.slide--default {
  // .is-about & {
  //   filter: blur(50px);
  // }
}

.cover-info  {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.project-info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  cursor: initial;
  backface-visibility: hidden;

  .is-about & {
    opacity: 0;
  }
}

.project-info__header {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

.project-info__location {
  width: 60vw;
  pointer-events: none;
  font-size: 10px;
  letter-spacing: 0.03px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s;

  .is-active & {
    opacity: 1;
  }
}

.project-info__title,
.project-info__intro {
  transition: opacity 0.25s;
}

.project-info__title {
  cursor: pointer;
  opacity: 0;
  transition-delay: 0.5s;

  .is-active & {
    opacity: 1;
    transition-delay: 0s;
  }
}

.project-info__intro {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #ffffff;
  text-shadow: $textshadow;
  transition-delay: 0.5s;

  .is-active & {
    opacity: 0;
    transition-delay: 0s;
  }
}

.project-info__toggle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 0;
  background: none;
  opacity: 0;
  cursor: pointer;
}

.project-info__panel {
  width: 100vw;
  min-height: 50vh;
  padding: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  background: #ffef88;
  transition: transform 0.5s $easing;
  will-change: transform;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }

  .is-info & {
    transform: translate3d(0, 0, 0);
  }
}

.project-info__description {
  @media (min-width: 1024px) {
    width: 70%;
    padding-right: 1.5rem;
  }

  @media (max-width: 1024px) {
    margin-bottom: 1rem;
  }
}

.project-info__meta {
  font-size: 0.8rem;
  line-height: 22px;
  letter-spacing: 0.015em;

  @media (min-width: 1024px) {
    width: 30%;
    padding-top: 5px;
  }
}



.audio-player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;

  audio {
    display: none;
  }
}

.audio-player__track {
  width: 280px;
  height: 8px;
  display: block;
  position: relative;
  background: white;
  box-shadow: $textshadow;
  margin-bottom: 15px;

  span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    left: 0;
    top: 0;
    transform: scale(0, 1);
    transform-origin: left center;
  }
}

.audio-player__play,
.audio-player__pause {
  width: 60px;
  height: @width;
  text-indent: -99999px;
  position: relative;
  background: none;
  outline: none;
  border: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
  }
}

.audio-player__play {
  &:after,
  &:before {
    width: 36px;
    height: @width;
    border-top: 18px solid transparent;
    border-left: 36px solid white;
    border-bottom: 18px solid transparent;
    left: calc(50% - 18px);
    top: @left;
  }

  &:before {
    border-left-color: rgba(black, 0.7);
    transform: translateY(3px);
    filter: blur(3px);
  }

  .is-paused & {
    display: inline-block;
  }

  .is-playing & {
    display: none;
  }
}

.audio-player__pause {
  display: none;

  &:before, &:after {
    width: 8px;
    height: 36px;
    background: white;
    left: calc(50% - 4px);
    top: calc(50% - 18px);
    box-shadow: $textshadow;
  }

  &:before {
    transform: translateX(-8px);
  }

  &:after {
    transform: translateX(8px);
  }

  .is-playing & {
    display: inline-block;
  }
}




.scrollbar {
  width: 20px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  // mix-blend-mode: color-dodge;

  .is-about & {
    opacity: 0;
  }
}

.scrollbar-thumb {
  width: 100%;
  height: 60px;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(50,50,50,1) 100%);
  will-change: transform;
  transform-origin: 0% 0%;
  border-radius: 8px;
  opacity: 0;
}


footer {
  display: none;
}



/*!
 * fullPage 2.9.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: flex;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}