html {
  font-size: 24px;
}

body {
  font-family: 'Arial';
  background: url('images/met-bg.jpg') no-repeat center center / cover;
}

h1, h2 {
  font-family: 'Comic Sans', 'Chalkboard', serif;
  font-weight: bold;
}

.ezekiel {
  font-size: 10vw;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}

a {
  color: blue;
}